*{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

/*header*/
.top-bar{
    width: 100%;
    height: 64px;
}

.top-bar img{
    width: 30px;
    height: 30px;
    border-radius: 100px;
    position: relative;
    top: 10px;
}

.top-bar ul li{
    height: 24px;
    float: right;
    line-height: 60px;
    margin-right: 20px;
}

.top-bar ul li a{
    font-size: 14px;
}

/*content*/
.content{
    position: relative;
    height: 873px;
}

.logo{
    width: 272px;
    height: 92px;
    position: relative;
    left: 824px;
    top: 100px;
}

/*search box*/
.frame{
    position: relative;
    left: 679.5px;
    top: 135px;
    width: 565px;
    height: 44px;
    border-radius: 50px;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
    z-index: 2;
}
 .center{
     width: 561px;
     height: 44px;
 }

.Magnifier-img{
    width: 24px;
    height: 24px;
    text-align: center;
    position: relative;
    top: 10px;
}

input{
    height: 44px;
    width: 465px;
    outline: none;
    border: none;
    color: #000;
    border-radius: 50px;
    font-size: 16px;
    z-index: 1;
}

.center ul li{
    float: left;
    margin-left: 10px;
}

.center ul li button{
    border: 0;
    width: 15px;
    height: 20px;
    margin-left: 10px;
    margin-top: 10px;
}

.center ul li button img{
    width: 15px;
    height: 20px;
}

/*a-container*/

.a-container{
    width: 465px;
    height: 228px;
    position: relative;
    left: 727.5px;
    top: 200px;
}

.a-container a{
    float: left;
    width: 112px;
    height: 112px;
}

.icon{
    width: 48px;
    height: 48px;
    background-color: #f6f6f6;
    border-radius: 100px;
    margin: 0 auto;
    position: relative;
    top: 20px;
}

.a-container img{
    width: 24px;
    height: 24px;
    position: relative;
    left: 12px;
    top: 12px;
}
.font-box{
    width: 112px;
    position: relative;
    right: 31px;
}

.icon-font{
    width: 100%;
    text-align: center;
    position: relative;
    width: 100%;
    top: 30px;
}

